

<div *ngIf="match">
	<div class="panel panel-primary">
      <div class="panel-heading">Match Info</div>
      <div class="panel-body"> ID Local Team: {{ match.getLocalTeam.getId }}  Local Score: {{ match.getScoreLocal }}</div>
      <div class="panel-body"> ID Visitor Team: {{ match.getVisitorTeam.getId}} Visitor Score: {{  match.getScoreVisitor}} </div>
      <div class="panel-body"> Start Date : {{ match.getStartDate }}</div>
      <div class="panel-body"> Finished: {{ match.isFinished }}</div>
    </div>

  <div *ngIf="!match.isFinished ">
    <button class="btn btn-lg btn-block btn-primary" 
    *ngIf="userLogged.getRol === 1 || userLogged.getRol === 3"
    (click)="finishMatch()">
      Finish Match
    </button>

    <button class="btn btn-lg btn-block btn-primary" 
      *ngIf="userLogged.getRol === 1 || userLogged.getRol === 3"
      (click)="increaseLocalScore()">
      Increase Local Score
    </button>

    <button class="btn btn-lg btn-block btn-primary"
      *ngIf="userLogged.getRol === 1 || userLogged.getRol === 3"
      (click)="increaseVisitorScore()">
      Increase Visitor Score
    </button>
  </div>

</div>

