<div class="col-sm-4" style="margin-left: 200px;">
<form #f="ngForm" (ngSubmit)="onSubmit()" validate>
	<div class="form-group">
  		<input type="text" class="form-control" placeholder="Nick" required minlength="5" 
  			[(ngModel)]="newUser.setNick" [ngModelOptions]="{standalone: true}">
	</div>

 	<div class="form-group">
  		<input type="password" class="form-control" placeholder="Password" required minlength="5"
			[(ngModel)]="newUser.setPassword" [ngModelOptions]="{standalone: true}">
	</div>

	<div class="form-group">
  		<input type="text" class="form-control" placeholder="Name" required minlength="1"
  			[(ngModel)]="newUser.setName" [ngModelOptions]="{standalone: true}">
	</div>

	<div class="form-group">
  		<input type="text" class="form-control" placeholder="DNI" required minlength="9" maxlength="9" 
  			[(ngModel)]="newUser.setDni" [ngModelOptions]="{standalone: true}">
	</div>

	<div class="form-group" required>
		<label class="radio-inline"><input type="radio" name="optradio1" value="0" required
		[(ngModel)]="newUser.setGenre" [ngModelOptions]="{standalone: true}">Male</label>

		<label class="radio-inline"><input type="radio" name="optradio1" value="1" required
		[(ngModel)]="newUser.setGenre" [ngModelOptions]="{standalone: true}">Female</label>
	</div>
		
	<div class="form-group">
  		<input type="date" class="form-control" placeholder="Birthday" required
  			[(ngModel)]="newUser.setBirthDate" [ngModelOptions]="{standalone: true}">
	</div>

	<button type="submit" class="btn btn-lg btn-block btn-primary" > Create Sponsor
	</button>
</form>
</div>